mixin showcase(item)
	article.showcase(class=item.isSold ? 'showcase-sold' : undefined)
		div.showcase-details
			div.showcase-description
				h1= item.title

				include ../pricetag/mixin-pricetag.pug
				+pricetag(item)

				for paragraph in item.description
					p= paragraph

				h2 В комплекте:
				ul.showcase-extras
					for extra in item.extras
						li.showcase-extra
							p= extra

				h2 Ссылки:
				ul.showcase-links
					for link in item.links
						li.showcase-link
							p
								a(href=link.url)= link.title
			
			if !item.isSold
				div.showcase-contact
					h2 Как купить
					p
						a.showcase-contact-email Напечатать письмо
						|  или 
						a.showcase-contact-twitter(href=`https://twitter.com/antonshulgin`) дм в твитере
						| . Днем я обычно сплю, но постараюсь ответить в течение суток.

		div.showcase-gallery
			ul.showcase-images
				for image in item.images
					li.showcase-image(style=`background-image: url(${image})`)
