mixin showcase(item)
	article.showcase(class=item.isSold ? 'showcase-sold' : undefined)
		div.showcase-details

			button.showcase-action-toggle-details(
				onclick='showcase.toggleDetails()'
				title='Показать/скрыть детали (Esc)'
			)
				span.showcase-icon.showcase-icon-fold

			div.showcase-description
				h1= item.title

				div.showcase-description-content
					include ../pricetag/mixin-pricetag.pug
					+pricetag(item)

					for paragraph in item.description
						p= paragraph

					if item.extras.length
						h2 В комплекте:
						ul.showcase-extras
							for extra in item.extras
								li.showcase-extra
									p= extra

					if item.links.length
						h2 Ссылки:
						ul.showcase-links
							for link in item.links
								li.showcase-link
									p
										a(href=link.url)= link.title
			
			if !item.isSold
				div.showcase-contact
					h2 Как купить
					p
						a.showcase-contact-email Напечатать письмо
						|  или 
						a.showcase-contact-twitter(href=`https://twitter.com/antonshulgin`) дм в твитере
						| . Постараюсь ответить в течение суток.

		div.showcase-gallery
			ul.showcase-images(onclick='showcase.bumpGallery(true, event.shiftKey)')
				for image in item.images
					li.showcase-image(style=`background-image: url(${image})`)

			ul.showcase-gallery-actions
				li.showcase-gallery-action.showcase-gallery-action-back
					button(
						onclick='showcase.showPreviousImage(true)'
						title='Назад (←, Shift-Space)'
					)
						span.showcase-icon.showcase-icon-back

				li.showcase-gallery-action.showcase-gallery-action-pause
					button(
						onclick='showcase.stopSlideshow()'
						title='Остановите карусель, меня тошнит'
					)
						span.showcase-icon.showcase-icon-pause

				li.showcase-gallery-action.showcase-gallery-action-start
					button(
						onclick='showcase.startSlideshow(true)'
						title='Запустить слайдшоу'
					)
						span.showcase-icon.showcase-icon-play

				li.showcase-gallery-action.showcase-gallery-action-forward
					button(
						onclick='showcase.showNextImage(true)'
						title='Вперед (→, Space)'
					)
						span.showcase-icon.showcase-icon-forward
